<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body style="background-image: url('https://images4.alphacoders.com/106/thumb-1920-10694.jpg');background-size: cover;">
        <h1 style="font-family: Arial, Helvetica, sans-serif;">Favorite Pokemon</h1>
        <table style="background-color: whitesmoke; font-family: Arial, Helvetica, sans-serif;" cellspacing="8">
        <tr><td style="text-align: center;" rowspan="2"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{favoritku['#']}}.png"></td>
            <td colspan="3" style="font-size: larger;"><b>{{favoritku['Name']}}</b></td>
        </tr>
        <tr>
            <td> {{favoritku['Type 1']}}</td>
            <td>{{favoritku['Generation']}}</td>
            <td> {{favoritku['Legendary']}}</td>
        </tr>
        </table>
        <h1 style="font-family: Arial, Helvetica, sans-serif;">We have another option!</h1>
        {% for i in rekomen%}
        <table style="background-color:white; display: inline-block;  font-family: Arial, Helvetica, sans-serif;" cellspacing="10">
        <tr>
        <td style="text-align: center;" rowspan="2">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{i['num']}}.png"></td>
        <td colspan="3" style="font-size: larger;"><b>{{i['name']}}</b></td>
        </tr>
        <tr>
        <td> {{i['tipe']}}</td>
        <td>{{i['gen']}}</td>
        <td> {{i['legend']}}</td>
        </tr>
        </table>
        {% endfor %}
        <br><br>
        <center>
        <form action = "http://127.0.0.1:5000">
        <button 
        
        </form>
        </center>
</body>
</html>