<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <center>
    <img src="https://res.cloudinary.com/lmn/image/upload/c_limit,h_360,w_640/e_sharpen:100/f_auto,fl_lossy,q_auto/v1/gameskinnyc/p/o/k/pokemon-masters-169-954f0.jpg"><br><br><br>
    <form action = "http://127.0.0.1:5000">
        <button class="btn btn-primary" type="submit">Back</button></button>
        </form>
    </center>
</body>
</html>