<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Favorit</title>
</head>
<body style="background-image: url('https://images4.alphacoders.com/106/thumb-1920-10694.jpg');">
    <center>
    <form method="POST" action = "http://127.0.0.1:5000/hasil">
    <input type="text" name="name" style="height:40px;width:500px" placeholder="Pokemon Favorit Anda" required><br><br><br>
    <button class="btn btn-primary" type="submit">Search</button>
    </form>
    </center>
</body>
</html>